body {
    margin:0px;
    background-color: rgba(217, 188, 221, 0.45)
}

#nav{
    background-color: rgb(139, 33, 153);
    color: white;
    display: flex;
    padding-left:20px;
    font-family: 'Courier New', Courier, monospace;
}

#nav-list{
    font-size: 17pt;
    list-style-type: none;
    height: 1.7em;
    width: 400px;
    display: flex;
    float: right;/*
    margin-right: 15px;
    margin-left: auot;*/
}

#nav-list a{
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%/*px*/;
    color:white;/*
    background-color: red;
    border: solid 5px red;*/
}

#nav-list a:hover{
    background-color: rgba(255, 255, 255, 0.219);
    border-bottom: solid 5px rgba(0, 0, 128, 0.5);
}

a#current {
    border-bottom: solid 5px navy;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  font-family: "Merriweather", Georgia, serif;
  padding-left: 1em;
  padding-right: 1em;
  color: navy;/*
  background-color: rgba(217, 188, 221, 0.45)rgb(182, 253, 255)*/;
}

#greeting-container {
  margin-top: 20px;
}

#me{
  float:right;
  width:30%;
  height: auto;
}

.section-head {
    text-align: center;
    padding-top: 5px;
}

.infoBox{
    border: solid 2px navy;
    border-radius: 20px;
    background-color: rgb(217, 188, 221);
    padding: 10px;/*
    display: inline-block; */
}

.collapsible {
    width: 10px;
    padding: 10px;
    border: 2px solid #555555;
    border-radius: 20%;
    transition-duration: 0.4s;
    cursor: pointer;
    color: black;
    background: navy url("./images/expand-white.png") no-repeat center;
    background-size: contain;
}
.collapsible:hover{
    color: white;
    background: #FFFFFF url("./images/expand.png");
    background-size: contain;
}

#portfolio img{
    position: center;
    width:500px;
}

#lin, #ghub{
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    color:transparent;
    border-radius: 20%;
    height: 30px;
    padding: 10px;
    /*
    border: 2px solid #555555;*/
}

#lin{
    background: white url("./images/linkedin.png");
    width: 120px;
    background-position: center;
    background-size: contain;
    border-radius:20px;
    background-repeat: no-repeat;
}

#ghub{
    background: white url("./images/github.png");
    width: 95px;
    background-position: center;
    background-size: contain;
    border-radius:20px;
    background-repeat: no-repeat;
}

#comments{
    padding: 2px 20px 10px;
    background-color: rgba(217, 188, 221, 0.9); 
    border-radius: 20px;
}

#comments-list {
    list-style-type: none;
}

#comments-form {
    display: none;
}

label{
    background-color: rgba(217, 188, 221, 0.9); 
}

#name{
    border-radius: 5px;
}
#comment{
    width:99%;
    border-radius: 5px;
}

#submit, #quote-button{
    color:rgb(217, 188, 221); 
    background:navy; 
    border-color:navy; 
    border-radius:20px; 
    margin: 2px auto auto auto;
    cursor:pointer;
}


.gallery{
    margin: 10px;
    float: left;
    width: 30%;
}
.gallery a img{
    width: 95%;
    /*
    height: 30%;
    max-width: 10000px;*/
    border: 5px solid navy;
    cursor: pointer;
    background-color: blanchedalmond;
}
.gallery a img:hover{
    border-color: blue;
}

.desc{
    text-align: center;
    text-decoration: none;
    color: navy;
    font-size: small;
    font-style: italic;
    word-wrap: break-word;
}

#resume{
    width: 100%;
    height: 800px;
    max-height: -webkit-fill-available;
}

@media only screen and (max-width: 1024px) {
    /*Tablets: Move boxes around, reduce margins, 
    move comment input to next line*/
}
@media only screen and (max-width: 768px) {
    /*Phones: Move boxes around, reduce margins, 
    move comment input to next line*/
}